/* FAQ */
.faq {
    margin-top: 1.1rem !important;
}

.title-faq {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #000000;

}

.dark-theme .title-faq {
    color: #ffffff;
}

.faqs-grid {
    margin: 0 auto 3rem;
}

.faqs-item {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
    display: block;
    color: rgb(0, 0, 0);
    background-color: #e8e8f1;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.6em;
}

.dark-theme .faqs-item {
    color: rgb(255, 255, 255);
    background-color: rgb(49 64 82);

}

.faqs-title {
    display: flex;
    position: relative;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    width: 100%;
    outline: none;
    transition: 0.4s;
    border-radius: 0.6em;
}

.dark-theme .faqs-title {
    color: #e8eaed;
    background: #253140;

}

.faqs-title:after {
    content: '\002B';
    color: rgb(255, 255, 255);
    font-weight: normal;
    float: right;
    margin-left: auto;
    font-size: 24px;
    line-height: 1;
    padding-left: 20px;
}

.dark-theme .faqs-title:after {
    color: rgb(255, 255, 255);
}

a.faqs-title.active:after {
    content: "\2212";
}

.faqs-content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.faqs-content-inside {
    padding: 20px;
}



a.faqs-title.active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

ol {
    margin: 0 0 1em 0;
    padding: 0;
    counter-reset: li;
    list-style: none;
}

ol li {
    display: block;
    overflow: hidden;
    position: relative;
    padding-left: 50px;
    min-height: 35px;
    margin: 10px 0px;
    padding-top: 4px;
}

ol li:before {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--ttk);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    content: counter(li);
    counter-increment: li;
}

/* FAQ */